<?xml version="1.0"?>
<config>
    <tabs>
        <shippingrate translate="label" module="shippingrate">
            <sort_order>100</sort_order>
            <label>Mgroup</label>
        </shippingrate>
    </tabs>
    <sections>
        <shipping_rate  translate="label" module="shippingrate">
            <label>Shipping Rate Update</label>
            <tab>shippingrate</tab>
            <frontend_type>text</frontend_type>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <global translate="label">
                    <frontend_type>text</frontend_type>
                    <frontend_model>shippingrate/adminhtml_system_config_notice</frontend_model>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                </global>
                <general translate="label">
                    <label>General Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>

                        <shipping_rate translate="label">
                            <label>Shipping Rate</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Use this format: <b>WeightA-WeightB:Price</b><br>New line for next rate.]]></comment>
                        </shipping_rate>

                        <button_run translate="label">
                            <frontend_model>shippingrate/adminhtml_system_config_buttonrun</frontend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </button_run>
                    </fields>
                </general>
            </groups>
        </shipping_rate>
        <best_featured  translate="label" module="shippingrate">                    
            <label>Best Sellers and Featured Products</label>
            <tab>shippingrate</tab>
            <frontend_type>text</frontend_type>
            <sort_order>0</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>            
            <groups>
                <best_featured translate="label"> 
                    <label>General Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <best_limit translate="label">
                            <label>Best Sellers </label>
                            <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </best_limit>
                        <featured_limit translate="label">
                            <label>Featured Products</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </featured_limit>
                    </fields>
                </best_featured>
            </groups>
        </best_featured>
    </sections>
</config>
