<?xml version="1.0"?>
<config>
    <modules>
        <Mgroup_Subrecaptcha>
            <version>0.1.0</version>
        </Mgroup_Subrecaptcha>
    </modules>
    <frontend>
        <routers>
            <subrecaptcha>
                <use>standard</use>
                <args>
                    <module>Mgroup_Subrecaptcha</module>
                    <frontName>subrecaptcha</frontName>
                </args>
            </subrecaptcha>
        </routers>
        <layout>
            <updates>
                <subrecaptcha>
                    <file>subrecaptcha.xml</file>
                </subrecaptcha>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <subrecaptcha>
                <class>Mgroup_Subrecaptcha_Helper</class>
            </subrecaptcha>
        </helpers>
        <blocks>
            <subrecaptcha>
                <class>Mgroup_Subrecaptcha_Block</class>
            </subrecaptcha>
        </blocks>
    </global>
</config> 