<?xml version="1.0"?>
<config>
    <modules>
        <Mgroup_Editsalesemail>
            <version>1.0.0</version>
        </Mgroup_Editsalesemail>
    </modules>
    <admin>
        <routers>
            <mgroup_editsalesemail>
                <use>admin</use>
                <args>
                    <module>Mgroup_Editsalesemail</module>
                    <frontName>mgroup_editsalesemail</frontName>
                </args>
            </mgroup_editsalesemail>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <mgroup_editsalesemail>
                    <file>mgroup_editsalesemail.xml</file>
                </mgroup_editsalesemail>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <helpers>
            <editsalesemail>
                <class>Mgroup_Editsalesemail_Helper</class>
            </editsalesemail>
        </helpers>
        <blocks>
            <editsalesemail>
                <class>Mgroup_Editsalesemail_Block</class>
            </editsalesemail>
            <adminhtml>
                <rewrite>
                    <sales_order_view_info>Mgroup_Editsalesemail_Block_Sales_Order_View_Info</sales_order_view_info>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
</config> 