<?xml version="1.0"?>
<config>
    <modules>
        <Mgroup_Catalogsearch>
            <version>0.1.0</version>
        </Mgroup_Catalogsearch>
    </modules>
    <global>
        <models>
            <mgroup_catalogsearch>
                <class>Mgroup_Catalogsearch_Model</class>
                <resourceModel>mgroup_catalogsearch_resource</resourceModel>
            </mgroup_catalogsearch>
            <mgroup_catalogsearch_resource>
                <class>Mgroup_Catalogsearch_Model_Resource</class>
            </mgroup_catalogsearch_resource>
            <catalogsearch_resource>
                <rewrite>
                    <fulltext>Mgroup_Catalogsearch_Model_Resource_Fulltext</fulltext>
                    <fulltext_engine>Mgroup_Catalogsearch_Model_Resource_Fulltext_Engine</fulltext_engine>
                    <fulltext_collection>Mgroup_Catalogsearch_Model_Resource_Fulltext_Collection</fulltext_collection>
                    <helper_mysql4>Mgroup_Catalogsearch_Model_Resource_Helper_Mysql4</helper_mysql4>
                </rewrite>
            </catalogsearch_resource>
        </models>
        <helpers>
            <mgroup_catalogsearch>
                <class>Mgroup_Catalogsearch_Helper</class>
            </mgroup_catalogsearch>
        </helpers>
        <resources>
            <mgroup_catalogsearch_setup>
                <setup>
                    <module>Mgroup_Catalogsearch</module>
                </setup>
            </mgroup_catalogsearch_setup>
        </resources>
    </global>
</config>