<?xml version="1.0"?>
<config>
    <modules>
        <TV_Cmspagelogin>
            <version>0.1.0</version>
        </TV_Cmspagelogin>
    </modules>
    <frontend>
        <routers>
            <articles>
                <use>standard</use>
                <args>
                    <module>TV_Cmspagelogin</module>
                    <frontName>cmspagelogin</frontName>
                </args>
            </articles>
        </routers>
        <layout>
            <updates>
                <articles>
                    <file>cmspagelogin.xml</file> <!-- our layout file name -->
                </articles>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <cmspagelogin>
                <class>TV_Cmspagelogin_Block</class>
            </cmspagelogin>
            <adminhtml>
                <rewrite>
                    <customer_grid>TV_Cmspagelogin_Block_Adminhtml_Customer_Grid</customer_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <tvcmspagelogin>
                <class>TV_Cmspagelogin_Model</class>
            </tvcmspagelogin>
        </models>
        <events>
            <adminhtml_cms_page_edit_tab_main_prepare_form>
                <observers>
                    <tvcmspagelogin_page_edit_tab_content>
                        <type>singleton</type>
                        <class>TV_Cmspagelogin_Model_Observer</class>
                        <method>cmsField</method>
                    </tvcmspagelogin_page_edit_tab_content>
                </observers>
            </adminhtml_cms_page_edit_tab_main_prepare_form>
            <cms_page_prepare_save>
                <observers>
                    <tvcmspagelogin_cms_page_save_after>
                        <type>singleton</type>
                        <class>tvcmspagelogin/observer</class>
                        <method>cmsPageSaveAfter</method>
                    </tvcmspagelogin_cms_page_save_after>
                </observers>
            </cms_page_prepare_save>
        </events>
        
        <helpers>
            <cmspagelogin>
                <class>TV_Cmspagelogin_Helper</class>
            </cmspagelogin>
        </helpers>
        <resources>
            <cmspagelogin_setup>
                <setup>
                    <module>TV_Cmspagelogin</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cmspagelogin_setup>
            <cmspagelogin_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cmspagelogin_write>
            <cmspagelogin_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cmspagelogin_read>
        </resources>
    </global>
</config> 