<?xml version="1.0"?>
<config>
    <modules>
        <TV_Subscriber>
            <version>1.0.0</version>
        </TV_Subscriber>
    </modules>
    <global>
        <blocks>
            <tv_subscriber>
                <class>TV_Subscriber_Block</class>
            </tv_subscriber>
        </blocks>
        <models>
            <tv_subscriber>
                <class>TV_Subscriber_Model</class>
            </tv_subscriber>
        </models>
        <resources>
            <tv_subscriber_setup>
                <setup>
                    <module>TV_Subscriber</module>
                </setup>
            </tv_subscriber_setup>
        </resources>
        <helpers>
            <tv_subscriber>
                <class>TV_Subscriber_Helper</class>
            </tv_subscriber>
        </helpers>
    </global>
    <frontend>
<!--        <layout>
            <updates>
                <tv_subscriber>
                    <file>tv/subscriber.xml</file>
                </tv_subscriber>
            </updates>
        </layout>-->
<!--        <events>
            <newsletter_subscriber_save_before>
                <observers>
                    <tv_subscriber_save_additional>
                        <class>tv_subscriber/observer</class>
                        <method>newsletterSubscriberSave</method>
                    </tv_subscriber_save_additional>
                </observers>
            </newsletter_subscriber_save_before>
        </events>-->
    </frontend>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <tv_subscriber_add_column>
                        <class>tv_subscriber/observer</class>
                        <method>addGridColumn</method>
                    </tv_subscriber_add_column>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
    </adminhtml>
</config>