<?xml version="1.0"?>
<config>
  <modules>
    <TV_Catecountdown>
      <version>0.1.0</version>
    </TV_Catecountdown>
  </modules>
  <global>
    <helpers>
      <catecountdown>
        <class>TV_Catecountdown_Helper</class>
      </catecountdown>
    </helpers>
	<models>
	  <catecountdown>
		<class>TV_Catecountdown_Model</class>
		<resourceModel>catecountdown_mysql4</resourceModel>
	  </catecountdown>
	</models>
	<resources>
	  <categoryattribute1529046678_setup>
		<setup>
		  <module>TV_Catecountdown</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute1529046678_setup>
	  <categoryattribute1529046678_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute1529046678_write>
	  <categoryattribute1529046678_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute1529046678_read>
	</resources>
  </global>
</config> 