<?xml version="1.0"?>
<config>
    <modules>
        <Cartin24_Common>
            <version>0.1.0</version>
        </Cartin24_Common>
    </modules>
    <admin>
        <routers>
            <common>
                <use>admin</use>
                <args>
                    <module>Cartin24_Common</module>
                    <frontName>common</frontName>
                </args>
            </common>
        </routers>
    </admin>  
    <adminhtml>
        <events>
            <controller_action_predispatch>
                <observers>
                  <cartin24_common_feed>
                    <type>singleton</type>
                    <class>common/feed</class>
                    <method>observe</method>
                  </cartin24_common_feed>
               </observers>                 
            </controller_action_predispatch>        
        </events>           
        <layout>
            <updates>
                <common>
                    <file>common.xml</file>
                </common>
            </updates>
        </layout>        
    </adminhtml>   
	 <global>
       <models>  
		<common>
            <class>Cartin24_Common_Model</class>
        </common>
      </models>
    </global>   
     
</config>
