<?xml version="1.0"?>
<config>
    <modules>
        <Mgroup_NotificationBar>
            <version>1.0.0</version>
        </Mgroup_NotificationBar>
    </modules>
    <global>
        <blocks>
            <notification_bar>
                <class>Mgroup_NotificationBar_Block</class>
            </notification_bar>
        </blocks>
        <helpers>
            <notification_bar>
                <class>Mgroup_NotificationBar_Helper</class>
            </notification_bar>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <notification_bar>
                    <file>mgroup/notification_bar.xml</file>
                </notification_bar>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <notification_bar>
                    <file>mgroup/notification_bar.xml</file>
                </notification_bar>
            </updates>
        </layout>
    </adminhtml>
</config>
