<?xml version="1.0"?>
<config>
    <modules>
        <Mgvn_timecountdown>
            <version>0.0.1</version>
        </Mgvn_timecountdown>
    </modules>
    <global>
        <resources>
            <timecountdown_setup>
                <setup>
                    <module>Mgvn_timecountdown</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>default_setup</use>
                </connection>
            </timecountdown_setup>
        </resources>
    </global>
</config>