<?xml version="1.0"?>
<config>
    <modules>
        <Mgroup_RestrictedCountry>
            <version>0.1.0</version>
        </Mgroup_RestrictedCountry>
    </modules>
    <frontend>
        <routers>
            <restrictedcountry>
                <use>standard</use>
                <args>
                    <module>Mgroup_RestrictedCountry</module>
                    <frontName>restrictedcountry</frontName>
                </args>
            </restrictedcountry>
        </routers>
        <layout>
            <updates>
                <restrictedcountry>
                    <file>restrictedcountry.xml</file>
                </restrictedcountry>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <restrictedcountry>
                <class>Mgroup_RestrictedCountry_Helper</class>
            </restrictedcountry>
        </helpers>
        <blocks>
            <restrictedcountry>
                <class>Mgroup_RestrictedCountry_Block</class>
            </restrictedcountry>
        </blocks>
    </global>
</config> 