<?xml version="1.0"?>
<config>
    <modules>
        <Pektsekye_PartFinder>
            <version>1.1.1</version>
        </Pektsekye_PartFinder>
    </modules>
    <frontend>
      <routers>
          <partfinder>
              <use>standard</use>
              <args>
                  <module>Pektsekye_PartFinder</module>
                  <frontName>partfinder</frontName>
              </args>
          </partfinder>
      </routers>    
		  <layout>
			  <updates>
				  <partfinder>
					  <file>partfinder.xml</file>
				  </partfinder>
			  </updates>
		  </layout>
      <events>
          <core_collection_abstract_load_before>
              <observers>
                  <partfinder>
                      <class>partfinder/observer</class>
                      <method>hideAttributes</method>
                  </partfinder>
              </observers>
          </core_collection_abstract_load_before>                  
      </events>	
      <translate>
          <modules>
              <Pektsekye_PartFinder>
                  <files>
                      <default>Pektsekye_PartFinder.csv</default>
                  </files>
              </Pektsekye_PartFinder>
          </modules>
      </translate>            
    </frontend>            
    <admin>
        <routers>
			    <adminhtml>
				    <use>admin</use>
				    <args>
               <modules>				    
                  <Pektsekye_PartFinder after="Mage_Adminhtml">Pektsekye_PartFinder</Pektsekye_PartFinder>	
               </modules>              				    
				    </args>
			    </adminhtml>
        </routers>
    </admin>
     
    <adminhtml>
		  <layout>
			  <updates>
				  <partfinder>
					  <file>partfinder.xml</file>
				  </partfinder>
			  </updates>
		  </layout>
      <events>

          <catalog_entity_attribute_save_before>
              <observers>
                  <partfinder>
                      <class>partfinder/observer</class>
                      <method>setIsGlobal</method>
                  </partfinder>
              </observers>
          </catalog_entity_attribute_save_before>      
      </events>
      <translate>
          <modules>
              <Pektsekye_PartFinder>
                  <files>
                      <default>Pektsekye_PartFinder.csv</default>
                  </files>
              </Pektsekye_PartFinder>
          </modules>
      </translate>            
    </adminhtml>    
    <global>
        <models>
            <partfinder>
                <class>Pektsekye_PartFinder_Model</class>
                <resourceModel>partfinder_mysql4</resourceModel>
            </partfinder>           
            <partfinder_mysql4>
                <class>Pektsekye_PartFinder_Model_Mysql4</class>
                <entities>
									<db>
										<table>partfinder_db</table>
									</db>
									<selector>
										<table>partfinder_selector</table>
									</selector>  
									<selector_level>
										<table>partfinder_selector_level</table>
									</selector_level> 
									<column>
										<table>partfinder_column</table>
									</column>                                                           
									<attribute>
										<table>partfinder_attribute</table>
									</attribute> 					
									<attribute_addedvalues>
										<table>partfinder_attribute_addedvalues</table>
									</attribute_addedvalues> 
									<attribute_visibility>
										<table>partfinder_attribute_visibility</table>
									</attribute_visibility> 									
									<attribute_option>
										<table>partfinder_attribute_option</table>
									</attribute_option>   
									<restriction>
										<table>partfinder_restriction</table>
									</restriction>   
									<universal_product>
										<table>partfinder_universal_product</table>
									</universal_product> 									                                                                   
                </entities>
            </partfinder_mysql4>
        </models>
        <resources>	
            <partfinder_setup>
                <setup>
                    <module>Pektsekye_PartFinder</module>                
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>                
            </partfinder_setup>
            <partfinder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </partfinder_write>
            <partfinder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </partfinder_read>            
        </resources>
        <blocks>
            <partfinder>
                <class>Pektsekye_PartFinder_Block</class>
            </partfinder>
        </blocks>
        <helpers>
            <partfinder>
                <class>Pektsekye_PartFinder_Helper</class>
            </partfinder>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <partfinder>
                        <type>singleton</type>
                        <class>Pektsekye_PartFinder_Controller_Router</class>
                        <method>initPartfinderControllerRouters</method>
                    </partfinder>
                </observers>
            </controller_front_init_routers>
        </events>
        <index>
            <indexer>
                <partfinder_restriction>
                    <model>partfinder/indexer_restriction</model>
                </partfinder_restriction>
                <partfinder_column>
                    <model>partfinder/indexer_column</model>
                </partfinder_column>                
            </indexer>
        </index>
    </global>

	  <default>
		  <partfinder>
			  <frontendsettings>
				  <categorysearch>1</categorysearch>
				  <wordsearch>1</wordsearch>				
			  </frontendsettings>
			  <backendsettings>
				  <matchyearrange>1</matchyearrange>			
			  </backendsettings>				  
		  </partfinder>	  
	  </default>     
</config>
