<?xml version="1.0"?>
<config>
    <modules>
        <TV_Cmspage>
            <version>0.1.0</version>
        </TV_Cmspage>
    </modules>
     <frontend>
        <routers>
            <articles>
                <use>standard</use>
                <args>
                    <module>TV_Cmspage</module>
                    <frontName>cmspage</frontName>
                </args>
            </articles>
        </routers>
        <layout>
            <updates>
                <articles>
                    <file>cmspage.xml</file> <!-- our layout file name -->
                </articles>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <tvcmspage>
                <class>TV_Cmspage_Model</class>
            </tvcmspage>
        </models>
        <events>
            <adminhtml_cms_page_edit_tab_main_prepare_form>
                <observers>
                    <tvcmspage_page_edit_tab_content>
                        <type>singleton</type>
                        <class>TV_Cmspage_Model_Observer</class>
                        <method>cmsField</method>
                    </tvcmspage_page_edit_tab_content>
                </observers>
            </adminhtml_cms_page_edit_tab_main_prepare_form>
            <cms_page_prepare_save>
                <observers>
                    <tvcmspage_cms_page_save_after>
                        <type>singleton</type>
                        <class>tvcmspage/observer</class>
                        <method>cmsPageSaveAfter</method>
                    </tvcmspage_cms_page_save_after>
                </observers>
            </cms_page_prepare_save>
        </events>
        
        <helpers>
            <cmspage>
                <class>TV_Cmspage_Helper</class>
            </cmspage>
        </helpers>
        <resources>
            <cmspage_setup>
                <setup>
                    <module>TV_Cmspage</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cmspage_setup>
            <cmspage_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cmspage_write>
            <cmspage_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cmspage_read>
        </resources>
    </global>
</config> 